<p id="notice"><%= notice %></p>

<p>
  <b>Owner:</b>
  <%= @kifu.owner_id %>
</p>

<p>
  <b>Title:</b>
  <%= @kifu.title %>
</p>

<div id="board"></div>

<pre id="csa" class="hidden">
<%= @kifu.csa %>
</pre>

<%= link_to 'Edit', edit_kifu_path(@kifu) %> |
<%= link_to 'Back', kifus_path %>

<script>
  makeBoard("board", "csa");
</script>

