<p id="notice"><%= notice %></p>

<% if user_signed_in? %>
<% if @favorite %>
<%= link_to 'お気に入りに追加する', create_favorite_path, :method => :post, :confirm => 'お気に入りに追加してもいいですか？' %>
<% else %>
<p>お気に入りに登録済みです</p>
<% end %>
<p>レートをつける</p>
<% end %>

<p>
  <% if @rate %>
  この棋譜の評価は<span class="red"><%= @rate %></span>だよ
  <% else %>
  この棋譜にはまだ評価がついてないよ
  <% end %>
</p>
<p>
  この棋譜は<span class="red"><%= @kifu.view %></span>回閲覧されているよ
</p>

<p>
  <b>Owner:</b>
  <%= @kifu.user_id %>
</p>

<p>
  <b>Title:</b>
  <%= @kifu.title %>
</p>

<div id="board"></div>

<pre id="csa" class="hidden">
<%= @kifu.csa %>
</pre>

<%= link_to 'Edit', edit_kifu_path(@kifu) %> |
<%= link_to 'Back', kifus_path %>

<script>
  makeBoard("board", "csa");
</script>

