<p id="notice"><%= notice %></p>

<p>
  <b>Owner:</b>
  <%= @kifu.owner_id %>
</p>

<p>
  <b>Title:</b>
  <%= @kifu.title %>
</p>

<p>
  <b>File url:</b>
  <%= @kifu.file_url %>
</p>

<div id="board"></div>

<pre id="csa" class="hidden"></pre>

<%= link_to 'Edit', edit_kifu_path(@kifu) %> |
<%= link_to 'Back', kifus_path %>

<%= javascript_include_tag "loadCSA" %>
<script>
var filePath = <%= "'" + @kifu.file_url + "'" %>;
loadCSA(filePath);
</script>
