<p id="notice"><%= notice %></p>

<% if user_signed_in? %>
<p>お気に入りに登録する</p>

<% end %>

<p>
  
  この棋譜の評価は<span class="red"><%= @rate %></span>だよ
</p>

<p>
  <b>Owner:</b>
  <%= @kifu.owner_id %>
</p>

<p>
  <b>Title:</b>
  <%= @kifu.title %>
</p>

<div id="board"></div>

<pre id="csa" class="hidden">
<%= @kifu.csa %>
</pre>

<%= link_to 'Edit', edit_kifu_path(@kifu) %> |
<%= link_to 'Back', kifus_path %>

<script>
  makeBoard("board", "csa");
</script>

